name: Bump Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true
        type: string

permissions: read-all

env:
  PROJECT_DIR: falcon-operator
  IMAGE_NAME: falcon-operator
  IMAGE_TAG: latest
  IMAGE_REGISTRY: quay.io
  IMAGE_NAMESPACE: crowdstrike
  RELEASE_TAG: ${{ github.event.inputs.version }}
  RELEASE_BRANCH: maint-1.0

jobs:
  validate_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Check if on correct branch
        if: github.ref != format('refs/heads/{0}', env.RELEASE_BRANCH)
        run: |
          echo "This workflow can only be run on ${{ env.RELEASE_BRANCH }} branch"
          exit 1
  validate_version:
    runs-on: ubuntu-latest
    steps:
      - name: Check version format
        run: |
          if [[ ! ${{ github.event.inputs.version }} =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Invalid version format. Must be in the format vX.X.X"
            exit 1
          fi
  bump_release:
    runs-on: ubuntu-latest
    needs: [validate_branch, validate_version]
    permissions:
      contents: write
      id-token: write
    timeout-minutes: 10
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout full repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgpgme-dev libbtrfs-dev libdevmapper-dev
      - name: Checkout release branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          ref: ${{ env.RELEASE_BRANCH }}
          fetch-tags: true

      - name: Configure Git
        id: config_git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          VERSION=${{ env.RELEASE_TAG }}
          NEWVERSION=${VERSION:1}
          echo "NEWVERSION=${NEWVERSION}" >> $GITHUB_ENV
      - name: Generate Changelog
        id: changelog
        run: |
          release=${{ env.NEWVERSION }}
          cl=CHANGELOG.md
          today=$(date +%F)
          header=$(head -n7 ${cl})
          older=$(tail -n+7 ${cl})
          # get all commits on head since the latest tag
          changes=$(git log --no-merges --pretty=format:"- %s" $(git describe --tags --abbrev=0 HEAD^)..HEAD)
          echo "${header}" > ${cl}
          echo "" >> ${cl}
          echo "## [${release}] - ${today}" >> ${cl}
          echo "" >> ${cl}
          echo "### Changed" >> ${cl}
          echo "" >> ${cl}
          echo "${changes}" >> ${cl}
          echo "${older}" >> ${cl}
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Update release changes
        id: git_commit
        run: |
          OLDVERSION=$(grep ^VERSION Makefile | awk '{print $NF}')
          sed -i "s/$OLDVERSION/${{ env.NEWVERSION }}/g" -i Makefile
          mkdir -p $HOME/go/bin
          export PATH=$HOME/go/bin:$PATH
          make operator-sdk
          make manifests bundle non-olm IMG=${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAMESPACE }}/${{ env.IMAGE_NAME }}:${{ env.NEWVERSION }}
          git checkout -b version-bump-build-${{ github.run_number }}
          git add -u
          git commit -m "Bumping to version ${{ env.NEWVERSION }}"
          git push origin version-bump-build-${{ github.run_number }}
