name: Container Build
on:
  push:
    branches:
      - main
      - 'maint-*'
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches:
      - main
      - 'maint-*'
    paths-ignore:
      - 'docs/**'

jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: "Build container: Manager"
      run: |
        docker build .
    - name: "Build container: Bundle"
      run: |
        make bundle-build
