name: Test Operator Deployment

on:
  push:
    branches:
      - main
  pull_request_target:
    types: [ labeled ]
    branches:
      - main

env:
  KIND_CLUSTER: operator-testing
  FALCON_CLIENT_ID: ${{ secrets.FALCON_CLIENT_ID }}
  FALCON_CLIENT_SECRET: ${{ secrets.FALCON_CLIENT_SECRET }}

jobs:
  e2e:
    if: |
      github.event_name == 'push' ||
      (github.event_name == 'pull_request_target' &&
      github.event.label.name == 'ok-to-test')
    name: e2e
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
        if: github.event_name != 'pull_request_target'

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{github.event.pull_request.head.sha}}
          fetch-depth: 0
        if: github.event_name == 'pull_request_target'

      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt install libgpgme-dev libbtrfs-dev libdevmapper-dev

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.5.0
        with:
          cluster_name: operator-testing

      - run: sudo rm -rf /usr/local/bin/kustomize
      - run: make test-e2e
