name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions: read-all

env:
  PROJECT_DIR: falcon-operator
  IMAGE_NAME: falcon-operator
  IMAGE_TAG: latest
  IMAGE_REGISTRY: quay.io
  IMAGE_NAMESPACE: crowdstrike
  RELEASE_TAG: ${{ github.ref_name }}

jobs:
  create_release:
    permissions:
      contents: write
      pull-requests: read
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout full repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Get Event branch
        id: event_branch
        run: |
          BASEREF=${{ github.event.base_ref }}
          REFBRANCH=${BASEREF#refs/heads/}

          echo "REFBRANCH=${REFBRANCH}" >> $GITHUB_ENV
          git checkout $REFBRANCH

      - name: Getting latest release version and version setup
        id: latest_version
        run: |
          if ! gh api repos/$GITHUB_REPOSITORY/releases/latest -q .tag_name > /dev/null 2>&1 ; then
              LATESTREL="v0.0.0"
          else
              LATESTREL=$(gh api repos/$GITHUB_REPOSITORY/releases/latest -q .tag_name)
          fi

          echo "LATESTRELEASE=${LATESTREL}" >> $GITHUB_ENV
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Generate Notes
        id: notes
        run: |
          echo "tag-name=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          gh api repos/$GITHUB_REPOSITORY/releases/generate-notes \
            -f tag_name="${GITHUB_REF#refs/tags/}" \
            -f target_commitish=${{ env.REFBRANCH }} \
            -q .body > NOTES.md
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Create release
        id: create_release
        if: env.LATESTRELEASE != env.RELEASE_TAG
        run: |
          gh api repos/$GITHUB_REPOSITORY/releases \
          -f tag_name="${GITHUB_REF#refs/tags/}" \
          -f target_commitish=${{ env.REFBRANCH }} \
          -f name="${GITHUB_REF#refs/tags/}" \
          -F generate_release_notes=true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Updating release
        id: update_release
        if: env.LATESTRELEASE == env.RELEASE_TAG
        run: |
          gh release edit "${GITHUB_REF#refs/tags/}" \
          --title ${GITHUB_REF#refs/tags/} \
          --tag ${GITHUB_REF#refs/tags/} \
          --target ${{ env.REFBRANCH }} \
          --notes-file NOTES.md
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Upload release assets
        id: upload_manifest
        run: |
          gh release upload "${GITHUB_REF#refs/tags/}" deploy/falcon-operator.yaml
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
